@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>About the Island</h2>
    </hr>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-locations-tab" data-bs-toggle="pill" data-bs-target="#pills-locations" type="button" role="tab" aria-controls="pills-locations" aria-selected="true">Geolocation</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-dining-tab" data-bs-toggle="pill" data-bs-target="#pills-dining" type="button" role="tab" aria-controls="pills-dining" aria-selected="false">Island features</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-photos-tab" data-bs-toggle="pill" data-bs-target="#pills-photos" type="button" role="tab" aria-controls="pills-photos" aria-selected="false">Indigenous population and economy</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-locations" role="tabpanel" aria-labelledby="pills-locations-tab">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Geolocation</h5>
                    <p class="card-text">Taniti is a small, tropical island in the Pacific.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-dining" role="tabpanel" aria-labelledby="pills-dining-tab">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Island Features</h5>
                    <p class="card-text">While the island has an area of less than 500square miles, the terrain is
                        varied and includes both sandy and rocky beaches, a small butsafe harbor, lush tropical
                        rainforests, and a mountainous interior that includes a small, activevolcano.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-photos" role="tabpanel" aria-labelledby="pills-photos-tab">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Indigenous people and economy</h5>
                    <p class="card-text">Taniti has an indigenous population of about 20,000. Until a recent increase
                        intourism, most the Tanitian economy was dominated by fishing or agriculture.</p>
                </div>
            </div>
        </div>
    </div>
</div>