@{
    ViewData["Title"] = "Home Page";
}

<div class="container row">
    <h2>Activities on the Island</h2>
    <hr/>
    <div class="card" style="width: 18rem;">
        <img src="/Museum.svg" class="card-img-top" height="160" width="128"  alt="museum image">
        <div class="card-body">
            <h5 class="card-title">Museums</h5>
            <p class="card-text">Visit our historic museums rich with history.</p>
            <a href="#" class="btn btn-primary">Buy Tickets</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/Snorkle.svg" class="card-img-top" height="160" width="128" alt="museum image">
        <div class="card-body">
            <h5 class="card-title">Snorkling</h5>
            <p class="card-text">Go snorkling in the worlds bluest ocean.</p>
            <a href="#" class="btn btn-primary">Buy Tickets</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/mountains.svg" class="card-img-top" height="160" width="128" alt="museum image">
        <div class="card-body">
            <h5 class="card-title">Ziplining</h5>
            <p class="card-text">Go ziplining in the great forest of Taniti.</p>
            <a href="#" class="btn btn-primary">Buy Tickets</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/GolfCourse.svg" class="card-img-top" height="160" width="128" alt="museum image">
        <div class="card-body">
            <h5 class="card-title">Golfing</h5>
            <p class="card-text">Relax with some golfing and put-put.</p>
            <a href="#" class="btn btn-primary">Buy Tickets</a>
        </div>
    </div>
</div>
