<div class="container row">
    <h2>Lodging Options</h2>
    </hr>
    <div class="card" style="width: 18rem;">
        <img src="/Dining.svg" class="card-img-top" alt="Plate">
        <div class="card-body">
            <h5 class="card-title">Fish restaurants</h5>
            <p class="card-text">
                Checkout the fish restaurants on the island!
            </p>
            <button class="btn btn-primary">View restaurants</button>
            <div class="star-rating" role="rating" data-rating="3">
                <span class="star" data-value="1">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="2">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="3">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="4">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="5">&#9733;<span class="star-notification"></span></span>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/Dining.svg" class="card-img-top" alt="Plate">
        <div class="card-body">
            <h5 class="card-title">American restaurants</h5>
            <p class="card-text">
                Checkout the American restaurants on the island!
            </p>
            <button class="btn btn-primary">View restaurants</button>
            <div class="star-rating" role="rating" data-rating="3">
                <span class="star" data-value="1">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="2">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="3">&#9733;<span class="star-notification"></span></span>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/Dining.svg" class="card-img-top" alt="Plate">
        <div class="card-body">
            <h5 class="card-title">Pan-Asian restaurants</h5>
            <p class="card-text">
                Checkout the Pan-Asian restaurants on the island!
            </p>
            <button class="btn btn-primary">View restaurants</button>
            <div class="star-rating" role="rating" data-rating="3">
                <span class="star" data-value="1">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="2">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="3">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="4">&#9733;<span class="star-notification"></span></span>
            </div>
        </div>
    </div>
</div>