<div class="container row">
    <h2>Lodging Options</h2>
    </hr>
    <div class="card" style="width: 18rem;">
        <img src="/Hut.svg" class="card-img-top" alt="Plate">
        <div class="card-body">
            <h5 class="card-title">Private Housing</h5>
            <p class="card-text">
                Come stay in a private hut on the beach!
            </p>
            <button class="btn btn-primary">View restaurants</button>
            <div class="star-rating" role="rating" data-rating="3">
                <span class="star" data-value="1">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="2">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="3">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="4">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="5">&#9733;<span class="star-notification"></span></span>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/Hotel.svg" class="card-img-top" alt="Plate">
        <div class="card-body">
            <h5 class="card-title">Hotel</h5>
            <p class="card-text">
                You can stay in a standard island hotel!
            </p>
            <button class="btn btn-primary">View restaurants</button>
            <div class="star-rating" role="rating" data-rating="3">
                <span class="star" data-value="1">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="2">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="3">&#9733;<span class="star-notification"></span></span>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/Resort.svg" class="card-img-top" alt="Plate">
        <div class="card-body">
            <h5 class="card-title">Resort</h5>
            <p class="card-text">
                You can stay in this 4 star resort!
            </p>
            <button class="btn btn-primary">View restaurants</button>
            <div class="star-rating" role="rating" data-rating="3">
                <span class="star" data-value="1">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="2">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="3">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="4">&#9733;<span class="star-notification"></span></span>
            </div>
        </div>
    </div>
</div>