@{
    ViewData["Title"] = "Home Page";
}

<div class="container row">
    <h2>Transportation Options</h2>
    </hr>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Public Bus</h5>
            <p class="card-text">
                The public bus system in Tanti is the highest rated public transit system in the world. They run from 5 a.m to 11 p.m. every day.
            </p>
            <div  class="star-rating" role="rating" data-rating="3">
                <span class="star" data-value="1">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="2">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="3">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="4">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="5">&#9733;<span class="star-notification"></span></span>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Taxis</h5>
            <p class="card-text">
                There are a variety of taxi companies that can take you to the different locations of the island.
            </p>
            <div  class="star-rating" role="rating" data-rating="3">
                <span class="star" data-value="1">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="2">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="3">&#9733;<span class="star-notification"></span></span>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Rental Cars</h5>
            <p class="card-text">
                There is a rental car company on the island where you can rent luxury, private vehicles.
            </p>
            <div  class="star-rating" role="rating" data-rating="3">
                <span class="star" data-value="1">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="2">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="3">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="4">&#9733;<span class="star-notification"></span></span>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Rental Bikes</h5>
            <p class="card-text">
                There is a rental bike company that offers cheap bicycle rental.
            </p>
            <div  class="star-rating" role="rating" data-rating="3">
                <span class="star" data-value="1">&#9733;<span class="star-notification"></span></span>
                <span class="star" data-value="2">&#9733;<span class="star-notification"></span></span>
            </div>
        </div>
    </div>
</div>